[package]
name = "d20"
version = "0.1.0"
edition = "2024_07"

[cairo]
sierra-replace-ids = true

[scripts]
migrate = "sozo build && sozo migrate"

[dependencies]
dojo = "1.8.0"
starknet = "2.13.1"
openzeppelin = "3.0.0"
nft_combo = { git = "https://github.com/underware-gg/cairo-nft-combo" }

[[target.starknet-contract]]
build-external-contracts = ["dojo::world::world_contract::world"]

[tool.scarb]
allow-prebuilt-plugins = ["dojo_cairo_macros"]

[dev-dependencies]
cairo_test = "2.13.1"
dojo_cairo_test = "1.8.0"
